@media screen and (max-width: 601px) {
  .header {
    .background {
      background-image: url(../images/header-background-mobile.jpg);
      height: 785px;
    }

    .menu-button {
      margin-bottom: 250px;
    }

    .button-background {
      background-color: rgba(255, 255, 255, 0.5);
    }

    .button-icon {
      background-image: url(../images/menu-icon-bars.png);
      background-size: cover;
      width: 19px;
      height: 15px;
    }

    .drop-down {
      background-color: rgba(255, 255, 255, 0.8);
      top: 36px;
      left: -111.5px;

      li {
        width: 300px;
      }
    }

    .checkbox {
      width: 19px;
      height: 19px;
      top: 8px;
      left: 10px;

      &:checked ~ .drop-down {
        display: block;
      }
    }
  }

  .yellow {
    background-image: url(../images/yellow-bar-background-repeatable.jpg);

    .turnip {
      background-image: url(../images/noodle.png);
      width: 106px;
      height: 79px;
      margin-bottom: 20px;
    }

    .beetroot {
      background-image: url(../images/tea.png);
      width: 106px;
      height: 79px;
      margin-bottom: 20px;
    }

    .get-social {
      background-image: url(../images/sweet.png);
      width: 106px;
      height: 79px;
      margin-bottom: 20px;
    }
  }

  .month-special {
    .container {
      background-color: #f8f8f8;
      width: 350px;
    }

    img {
      width: 175px;
      height: 175px;
    }
  }

  .about-us {
    background-color: #f8f8f8;

    .background {
      background-image: url(../images/about-us-background-mobile.png);
      width: 210px;
      height: 125px;
      background-size: cover;
      background-position: right;
    }

    .mobile-signature {
      background-image: url(../images/signature.png);
      width: 127px;
      height: 86px;
      background-size: cover;
    }
  }

  .menu-cart {
    .dots::after {
      content: '';
      position: absolute;
      bottom: 3px;
      width: 600px;
      height: 5px;
      z-index: 0;
      margin-left: 1%;
      background: url("../images/dot.jpg");
      background-repeat: space;
      background-size: contain;
    }

    .price {
      width: auto;
    }

    .second-menu {
      display: none;
    }
  }

  .contact {
    .background {
      background-image: url(../images/contact-background.jpg);
      height: 870px;
      background-size: cover;
      background-position: center;
    }

    .facebook {
      background-image: url(../images/social-facebook.png);
      width: 50px;
      height: 50px;
      background-size: cover;
    }

    .instagram {
      background-image: url(../images/social-instagram.png);
      width: 50px;
      height: 50px;
      background-size: cover;
    }

    .copyright {
      display: none;
    }
  }
}

@media screen and (min-width: 601px) {
  .header {
    .background {
      background-image: url(../images/header-background-pc.jpg);
      height: 965px;
      background-size: cover;
    }

    .button-background {
      margin-bottom: 300px;
    }

    .drop-down li a {
      width: auto;
      height: auto;
    }

    p {
      width: 50%;
    }
  }

  @media screen and (max-width: 1350px) {
    .header {
      .drop-down {
        display: block;
        width: 50%;
      }

      .button-background {
        margin-bottom: 50px;
      }

      .drop-down li {
        margin-right: 0;
      }
    }
  }

  .yellow {
    background-image: url(../images/yellow-bar-background-repeatable.jpg);

    .turnip {
      background-image: url(../images/noodle.png);
      width: 106px;
      height: 79px;
    }

    .beetroot {
      background-image: url(../images/tea.png);
      width: 106px;
      height: 79px;
    }

    .get-social {
      background-image: url(../images/sweet.png);
      width: 106px;
      height: 79px;
    }
  }

  .month-special {
    .pair {
      background-color: #f8f8f8;
      width: 500px;
    }

    img {
      height: 250px;
      width: 250px;
    }
  }

  .about-us {
    background-color: #f8f8f8;
    padding-top: 230px;
    height: 737px;

    .background {
      background-image: url(../images/about-us-background-pc.png);
      width: 825px;
      height: 628px;
      background-size: cover;
      background-position: left;
      left: 52.4%;
      top: 161px;
    }

    .desktop-signature {
      background-image: url(../images/signature.png);
      width: 213px;
      height: 144px;
      background-size: cover;
    }

    .text-container {
      width: 34%;
      min-width: 452px;
    }
  }

  .menu-cart {
    .dots::after {
      content: '';
      position: absolute;
      bottom: 11px;
      width: 600px;
      height: 5px;
      z-index: 0;
      margin-left: 5px;
      background: url("../images/dot.jpg");
      background-repeat: space;
      background-size: contain;
    }

    .price {
      width: auto;
      margin-bottom: 8px;
    }
  }

  .contact {
    .info-form {
      width: 37.5%;
      min-width: 430px;
    }

    .background {
      background-image: url(../images/contact-background.jpg);
      height: 900px;
      background-size: cover;
      background-position: center;
    }

    .facebook {
      background-image: url(../images/social-facebook.png);
      width: 50px;
      height: 50px;
      background-size: cover;
    }

    .instagram {
      background-image: url(../images/social-instagram.png);
      width: 50px;
      height: 50px;
      background-size: cover;
    }
  }
}